---
search: false
title: "Seksi Pengembangan"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/unsplash-image-1.jpg
  actions:
    - label: "Tentang Kami"
      url: "/tentang/"
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "Pengembangan kompetensi dan profesionalisme peningkatan kualifikasi serta kesejahteraan pendidik dan tenaga kependidikan di bawah naungan Dindikpora Kab. Banjarnegara."
intro: 
  - excerpt: '<b>Berikut pelayanan yang kami berikan:<b>'
feature_row:
  - image_path: assets/images/unsplash-gallery-image-1-th.jpg
    image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "placeholder image 1"
    title: "Aproval NUPTK"
    excerpt: "Baca informasi lengkap terkait prosedur Aproval NUPTK."
    url: "/aproval-nuptk/"
    btn_label: "Baca Selengkapnya"
    btn_class: "btn--primary"

  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Izin/Tugas Belajar"
    excerpt: "Baca informasi lengkap terkait prosedur Izin atau Tugas Belajar bagi ASN"
    url: "/izin-tugas-belajar/"
    btn_label: "Baca Selengkapnya"
    btn_class: "btn--primary"

  - image_path: /assets/images/unsplash-gallery-image-3-th.jpg
    title: "Pencantuman Gelar"
    excerpt: "Baca informasi lengkap terkait prosedur Pencantuman Gelar bagi ASN"
    url: "/pencatuman-gelar/"
    btn_label: "Baca Selengkapnya"
    btn_class: "btn--primary"

feature_row2:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Hari Belajar Guru"
    excerpt: 'Baca informasi terkait Hari Belajar Guru Kabupaten Banjarnegara ada di sini'
    url: "/hari-belajar-guru/"
    btn_label: "Baca Selengkapnya"
    btn_class: "btn--primary"

feature_row3:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Pengajuan SK Kepala Dinas (KKG, MGMP, MKKS, KKKS, PKG PAUD, GUGUS PAUD)"
    excerpt: "Baca informasi lengkap terkait prosedur Pengajuan SK Kepala Dinas (KKG, MGMP, MKKS, KKKS, PKG PAUD, GUGUS PAUD)"
    url: "/sk-kadin/"
    btn_label: "Baca Selengkapnya"
    btn_class: "btn--primary"

feature_row4:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Legalisasi Dokumen"
    excerpt: 'Baca informasi prosedur legalisasi dokumen PTK'
    url: "/legalisasi/"
    btn_label: "Baca Selengkapnya"
    btn_class: "btn--primary"
    
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %}